<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>About RasberryPi</title>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
    <script src="../static/js/epoch.min.js"></script>
    <link rel="stylesheet" href="../static/css/epoch.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/my_style.css" type="text/css">
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>
